<h1 class="center">All Teams</h1>
<div class="center center-list">
  <ol>
    <% @teams.each do |team| %>
      <li><%= link_to "#{team.sheet_key} - #{team.league}", team_path(team) %></li>
    <% end %>
  </ol>
</div>
