<h1 class="center">All Teams</h1>
<div class="center center-list">
  <% @teams.each do |team| %>
    <%= link_to "#{team.sheet_key} - #{team.league}", team_path(team), class: "nav-link index-links" %>
  <% end %>
</div>
