<h1 class="center">Seasons</h1>

<div class="center">
  <% @seasons.each do |season| %>
    <%= link_to "#{season.year}", season_path(season), class: "nav-link index-links" %>
  <% end %>
</div>

<div class="center">
  <!-- total home run and runs scored total by season -->
</div>
