<h1 class="center">Seasons</h1>

<div class="center">
  <% @seasons.each do |season| %>
    <p><%= link_to "#{season.year}", season_path(season) %></p>
  <% end %>
</div>

<div class="center">
  <!-- total home run and runs scored total by season -->
</div>
