<h1 class="center">Upload New Sheet</h1>

<div class="center">
<%= form_for(@season, html: { role: "form"}) do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year, class: "form-input" %>
  <%= f.submit class: "submit-btn" %>
<% end %>

</div>
