<h1 class="center"><%= @season.year %></h1>

<!-- make a bunch of partials for different graphs -->

<h3 class="center">Team Home Run Totals Against Cubs at Wrigley</h3>
<%= pie_chart @season.games.group(:away_team).sum(:away_homeruns) %>
<h3 class="center">Cubs Home Run Totals at Wrigley Per Opponent</h3>
<%= pie_chart @season.games.group(:away_team).sum(:home_homeruns) %>

<h3 class="center">Cubs Home Run Totals at Wrigley Per Month</h3>
<%= pie_chart @season.games.group(:month).sum(:home_homeruns) %>
