<h1 class="center"><%= @season.year %></h1>

<h3 class="center">Away Team Wrigley Home Run Totals</h3>
<%= pie_chart @season.games.group(:away_team).sum(:away_homeruns) %>
<h3 class="center">Cubs Wrigley Home Run Totals Per Opponent</h3>
<%= pie_chart @season.games.group(:away_team).sum(:home_homeruns) %>
