<h1 class="center">Welcome to BaseballPie</h1>
<h2 class="center">We have baseball stats in pie charts..and a donut or two as well!</h2>

<div class="center"><%= @message %></div>
<div class="logo-div"></div>
<h6 class="center">I am not a graphic designer...<a href="https://github.com/buzzamus/baseball-pie">PRs are always welcome</a> if you want to make a better logo</h6>
<div class="center blue-div disclaimer">
  <p> The information used here was obtained free of
     charge from and is copyrighted by Retrosheet.  Interested
     parties may contact Retrosheet at <a href="https://www.retrosheet.org">www.retrosheet.org</a>.
  </p>
</div>

<div class="footer">
  <h5>Created by Brent Busby</h5>
</div>
