<h1>All Files</h1>

<% @games.each do |game| %>
<p>game.year</p>
<% end %>

<h3>Upload New File</h3>
<%= form_tag import_games_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload File" %>
<% end %>
