<h1 class="center">All Games</h1>

  <h3 class="center">Total Home Runs By Away Team</h3>
  <%= pie_chart @games.group(:away_team).sum(:away_homeruns) %>
  <h3 class="center">Total Home Runs by Home Team</h3>
  <%= pie_chart @games.group(:home_team).sum(:home_homeruns) %>

  <h3 class="center">Total Home Runs by Season</h3>
  <%= pie_chart @games.group(:game_year).sum(:total_homeruns), donut: true %>

<!-- !!!!!!!!! -->
<!-- for each individual season try:

@season.where(year: '2016').group(:away_team).sum(:away_homeruns) -->
