h1, h2, h3, h4, h5, h6, p, input, label {
  font-family: Arial, sans-serif, serif;
}

h1 {
  font-size: 3em;
}

.center {
  text-align: center;
}

.upload-form {
  background-color: #eae1e1;
  border: 2px solid black;
  border-radius: 17px;
  width: 50%;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  border: 1px solid black;
  border-radius: 9px;
  background-color: #e84747;
  color: black;
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #db5c5c;
  border: 2px solid #00d4ff;
  color: white;
}

.upload-btn {
  margin-left: 13%;
}

.home-link {
  font-size: 1.5em;
  text-decoration: none;
  max-width: 50px;
  color: black;
}

.home-link:hover {
  text-decoration: underline overline dotted blue;
  color: #69AEE8;
}

.logo-div {
  margin-left: auto;
  margin-right: auto;
  background-image: url(/assets/logo.png);
  height: 307px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 305px;
  background-size: cover;
}

.blue-div {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #69AEE8;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.center-list {
  list-style-position: inside;
}

.form-input {
  width: 300px;
  height: 30px;
  font-size: 1.4em;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  border: 2px solid black;
  padding: 7px;
  border-radius: 8px;
  background-color: #69AEE8;
}

.nav-link:hover {
  background-color: #c44646;
}

.nav-div {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #69AEE8;
  width: 98%;
  padding: 10px;
  padding-top: 20px;
  margin: 0 auto;
  height: 25px;
}

.logout {
  float: right;
}

.current-user {
  color: #b20e34;
  font-weight: bolder;
}

.index-links {
  margin-bottom: 10px;
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.top-margin {
  margin-top: 10px;
}

.error-div {
  margin-top: 30px;
  width: 50%;
  padding: 10px;
  color: #b20e34;
  margin: 0 auto;
}

.disclaimer {
  padding: 10px;
}

.footer {
  text-align: center;
  max-height: 30px;
  right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 margin-top: 10px;
}
